
<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
  <script type="text/html" template>
    <p>当前版本：DZTAUI-V{{ layui.admin.v }}</p>
    <!-- <p>基于框架：layui-v{{ layui.v }}</p> -->
  </script>
  <!-- <div class="layui-btn-container">
    <a href="" target="_blank" class="layui-btn layui-btn-danger">获取授权</a>
    <a href="" target="_blank" class="layui-btn">下载新版</a>
  </div> -->
</div>

<div class="layui-card-header">关于网站</div>
<div class="layui-card-body layui-text layadmin-about">
  
  <blockquote class="layui-elem-quote" style="border: none;">
    电子提案系统是为服务于<a href="http://hdgh.henu.edu.cn/" target="_blank">河南大学工会</a>成员及代表以及相关人员而开发的提案管理系统，
    原系统最初开发于2015年，运营多年，不足的地方突显，所以为了能给广大代表及相关老师更好的体验，由软件学院学生团体重新组织开发的电子提案系统正式上线。
    <br>
    如果您在使用过程中遇到了什么问题，欢迎及时反馈~
    
  </blockquote>
  <p>© 2019 <a href="http://software.henu.edu.cn/" target="_blank">河南大学软件学院</a> 版权所有</p>
</div>