<title>届次设置</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>设置</cite></a>
    <a><cite>届次设置</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">

    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
      </div>

      <table id="period-order-table" lay-filter="period-order-table"></table>

      <script type="text/html" id="table-useradmin-admin">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
            class="layui-icon layui-icon-edit"></i>编辑</a>
      </script>
    </div>
  </div>
</div>

<script>
  //解决IE的问题
  if (!Function.prototype.apply) {
    Function.prototype.apply = function (obj, args) {
      obj = obj == undefined ? window : Object(obj); //obj可以是js基本类型 
      var i = 0,
        ary = [],
        str;
      if (args) {
        for (len = args.length; i < len; i++) {
          ary[i] = "args[" + i + "]";
        }
      }
      obj._apply = this;
      str = 'obj._apply(' + ary.join(',') + ')';
      try {
        return eval(str);
      } catch (e) {} finally {
        delete obj._apply;
      }
    };
  }
  if (!Function.prototype.call) {
    Function.prototype.call = function (obj) {
      var i = 1,
        args = [];
      for (len = arguments.length; i < len; i++) {
        args[i - 1] = arguments[i];
      }
      return this.apply(obj, args);
    };
  }
</script>
<script>
  layui.use('useradmin', layui.factory('useradmin')).use(['admin', 'useradmin', 'table', 'yyer', 'proTable'],
  function () {
    var $ = layui.$,
      admin = layui.admin,
      view = layui.view,
      table = layui.table,
      form = layui.form,
      yyer = layui.yyer,
      laydate = layui.laydate,
      proTable = layui.proTable;

    form.render(null, 'period-order-form');

    //监听搜索
    form.on('submit(LAY-user-back-search)', function (data) {
      var field = data.field;

      //执行重载
      table.reload('LAY-user-back-manage', {
        where: field
      });
    });
    proTable.renderOnly({
      elem: '#period-order-table',
      url: './order/allList' //模拟接口
        ,
      cols: [
        [{
          field: 'periodId',
          width: 100,
          title: 'periodId',
          sort: true
        }, {
          field: 'periodNum',
          title: '届名',
          minWidth: 100
        }, {
          field: 'orderId',
          title: 'orderId',
          width: 100
        }, {
          field: 'orderNum',
          title: '次名'
        }, {
          field: 'startDate',
          title: '开始时间'
        }, {
          field: 'endDate',
          title: '结束时间'
        }, {
          title: '操作',
          width: 150,
          align: 'center',
          fixed: 'right',
          toolbar: '#table-useradmin-admin'
        }]
      ],
      parseData: function (res) {
        let data = res.data;
        if (res.code != 0) return;

        data.forEach(function(e){
          e.periodId = e.periodEntity.periodId;
          e.periodNum = e.periodEntity.periodNum;
        })
        return null;
      },



      text: '加载出现异常！'
    });

    //事件
    var active = {
      add: function () {
        admin.req({
          url: './period/allList',
          type: "post",
          success: function (res) {
            yyer.open({
              title: '添加新届次',
              area: ['420px', '450px'],
              id: 'order-add-windows',
              success: function (layero, index) {

                view(this.id).render('set/system/orderEditWin', res.data).done(
                  function () {
                    form.render(null, 'add-order-form');

                    //监听提交
                    form.on('submit(LAY-user-back-submit)', function (data) {
                      var field = data.field; //获取提交的字段

                      //提交 Ajax 成功后，关闭当前弹层并重载表格
                      admin.req({
                        url: '/period/addOrder',
                        data: field,
                        success: function (res) {
                          layer.msg(res.msg || "", {
                            icon: 1
                          });
                          layui.table.reload('period-order-table'); //重载表格
                        }
                      })

                      layer.close(index); //执行关闭 
                    });
                  });
              }
            });
          }
        })


      }

    }
    $('.layui-btn.layuiadmin-btn-admin').on('click', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

    //监听工具条
    table.on('tool(period-order-table)', function (obj) {
      var data = obj.data;
      if (obj.event === 'del') {
        layer.prompt({
          formType: 1,
          title: '敏感操作，请验证口令'
        }, function (value, index) {
          if (value != "losteracmer")
            layer.close(index);

          layer.confirm('真的删除行么', function (index) {
            //执行操作
            obj.del();
            layer.close(index);
          });
        });
      } else if (obj.event === 'edit') {
        admin.req({
          url: './period/allList',
          type: "post",
          success: function (res) {
            yyer.open({
              title: '编辑届次',
              area: ['420px', '450px'],
              id: 'order-add-windows',
              success: function (layero, index) {
                //设置id
                res.data.orderId = data.orderId;
                view(this.id).render('set/system/orderEditWin', res.data).done(
                  function () {
                    form.render(null, 'add-order-form');

                    //监听提交
                    form.on('submit(LAY-user-back-submit)', function (data) {
                      var field = data.field; //获取提交的字段

                      //提交 Ajax 成功后，关闭当前弹层并重载表格
                      admin.req({
                        url: '/period/editOrder',
                        data: field,
                        success: function (res) {
                          layer.msg(res.msg || "", {
                            icon: 1
                          });
                          layui.table.reload('period-order-table'); //重载表格
                        }
                      })

                      layer.close(index); //执行关闭 
                    });
                  });
              }
            });
          }
        })
      }
    });
  });
</script>