<script type="text/html" template>
    <div class="layui-fluid">
        <div class="layui-form" id="form-edit-disposeproposal" lay-filter="form-edit-disposeproposal"
            style="padding: 20px 0 0 0;" data-pid={{d.params.pId}}>
            <div class="layui-form-item">
                <label class="layui-form-label">提案工作委员会意见</label>
                <div class="layui-input-block">
                    {{# d.params.disposeproposalEntity =  d.params.disposeproposalEntity?d.params.disposeproposalEntity:{} }}
                    <!-- //防止 空指针异常 -->

                    {{# if(d.params.disposeproposalEntity.dPidea == 1){ }}
                    <input type="radio" name="disposedPidea" value="1" title="立案" checked="">
                    <input type="radio" name="disposedPidea" value="2" title="建议">
                    <input type="radio" name="disposedPidea" value="3" title="无效">
                    {{# }else if(d.params.disposeproposalEntity.dPidea == 2){ }}
                    <input type="radio" name="disposedPidea" value="1" title="立案">
                    <input type="radio" name="disposedPidea" value="2" title="建议" checked="">
                    <input type="radio" name="disposedPidea" value="3" title="无效">
                    {{# }else if(d.params.disposeproposalEntity.dPidea == 3){ }}
                    <input type="radio" name="disposedPidea" value="1" title="立案">
                    <input type="radio" name="disposedPidea" value="2" title="建议">
                    <input type="radio" name="disposedPidea" value="3" title="无效" checked="">
                    {{# }else { }}
                    <input type="radio" name="disposedPidea" value="1" title="立案">
                    <input type="radio" name="disposedPidea" value="2" title="建议">
                    <input type="radio" name="disposedPidea" value="3" title="无效" >
                    {{# } }}
                </div>
            </div>
            {{# var type = layui.data(layui.setter.tableName)['type']; }}
            {{# if(type.indexOf(1)>-1){ }}
            <!-- //如果是管理身份，才给与显示 时间和身份选择 -->
            <div class="layui-inline">
                <label class="layui-form-label">审批时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="dPtime" value='{{d.params.disposeproposalEntity.dPtime||""}}' class="layui-input"
                        id="dPtime" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">提案编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="dPnumber" value="{{d.params.disposeproposalEntity.dPnumber||''}}" class="layui-input"
                        id="dPnumber" placeholder="(留空将按照格式自动填充)">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">处理人</label>
                <div class="layui-input-inline">
                    <select name="proNum" id="EditdepartSelect" lay-filter="EditdepartSelect">
                        <option value='0' selected>无</option>
                        {{#  layui.each(d.params.allProposer, function(index, item){ }}
                        {{# if((d.params.disposeproposalEntity.proposerEntity) && d.params.disposeproposalEntity.proposerEntity.proNum == item["ProNum"] ) {  }}
                        <option value='{{item["ProNum"]}}' selected>{{item['ProName']}}</option>
                        {{# }else{ }}
                        <option value='{{item["ProNum"]}}'>{{item['ProName']}}</option>
                        {{# } }}
                        {{#  }); }}
                    </select>
                </div>
            </div>
            {{# } }}

            <div style=" display:none!important;"><input type="text" name="dpId"
                    value="{{ d.params.disposeproposalEntity.dpId || 0 }}" disabled></div>
            <div style=" display:none!important;"><input type="text" name="pId" value="{{ d.params.pId || 0 }}"
                    disabled></div>
            <div class="layui-form-item" style="margin: 20px 0 0 0;">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline">
                    <input type="button" lay-submit lay-filter="form-edit-disposeproposal" value="提交" class="layui-btn">
                </div>
            </div>
        </div>
    </div>
</script>

<script id="templateOption" type="text/html">
    {{#  layui.each(d.data, function(index, item){ }}
    {{# if(d.select == item[d.value]){ }}
    <option value='{{item[d.value]}}' selected>{{item[d.name]}}</option>
    {{# }esle { }}
    <option value='{{item[d.value]}}'>{{item[d.name]}}</option>
    {{# } }}
    {{#  }); }}
</script>


<script>
    layui.use(['admin', 'form', 'upload', 'laydate'], function () {
        var $ = layui.$,
            form = layui.form,
            laytpl = layui.laytpl,
            laydate = layui.laydate;

        var getAllProposer = function () {
            let pid = $("#form-edit-proposal").data("pid");
            console.log("PID+" + pid)
        }

        setTimeout(function () {
            form.render();
            let isInitValue = true;
            if ($("#dPtime").val() != "") {
                isInitValue = false;
            }

            laydate.render({
                elem: '#dPtime',
                type: 'datetime',
                theme: 'molv',
                value: new Date(),
                isInitValue: isInitValue
                
            });
            console.log("render finish")
        }, 400)


    })
</script>