<script type="text/html" template>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">设置用户  (只能操作本届用户的身份)</div>
                    <div class="layui-card-body">

                        <div class="layui-form" lay-filter="userInfo">
                            <div class="layui-form-item">
                                <label class="layui-form-label">角色</label>
                                <div class="layui-input-block" id="typeCheckBox">
                                    {{# var checkType = function(ind){ let is = false; layui.each(d.params.protypeEntitySet,function(index,item){ if(item.userType == ind){ is = true; } }) ;return is ; }  }}
                                    {{# d.types = ["zero","管理员","职工代表","委员会成员","委员会主任","校办主任","主管校领导","单位负责人"];}}

                                    {{#  layui.each(d.types, function(index, item){ }}
                                    {{# if(index != 0) { }}
                                    {{# if(checkType(index) == true) { }}
                                    <input type="checkbox" name="type[]" value={{index}} title={{d.types[index]}}
                                        checked>
                                    {{# }else{  }}
                                    <input type="checkbox" name="type[]" value={{index}} title={{d.types[index]}}>
                                    {{#  } }}
                                    {{#  } }}
                                    {{#  }); }}

                                </div>
                                <div class="layui-form-mid layui-word-aux"></div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">工号</label>
                                <div class="layui-input-inline">
                                    <input id="proNum" type="text" name="proNum" value="{{d.params.proNum ||''}}"
                                     {{d.params.proNum?'readonly':''}} class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"></div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密码</label>
                                <div class="layui-input-inline">
                                    <input id="proPwd" type="text" name="proPwd" value="{{d.params.proPwd ||''}}"
                                        class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"></div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">姓名</label>
                                <div class="layui-input-inline">
                                    <input id="proName" type="text" name="proName" value="{{d.params.proName ||''}}"
                                        autocomplete="off" placeholder="请输入姓名" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"></div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-block">
                                    {{# d.params.proSex = d.params.proSex?d.params.proSex: ""}}
                                    <input id="proSexN" type="radio" name="proSex" value="男" title="男"
                                        {{d.params.proSex.indexOf('男')!= -1?"checked":""}}>
                                    <input id="proSexV" type="radio" name="proSex" value="女" title="女"
                                        {{d.params.proSex.indexOf('女')!= -1?"checked":""}}>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                
                                <label class="layui-form-label">单位</label>
                                <div class="layui-input-inline">
                                    <select name="departId" id="EditdepartSelect" lay-filter="EditdepartSelect" lay-search="">
                                        {{#  layui.each(d.params.allDepart, function(index, item){ }}
                                        {{# if((d.params.departEntity) && d.params.departEntity.departId == item["departId"] ) {  }}
                                        <option value='{{item["departId"]}}' selected>{{item['departName']}}</option>
                                        {{# }else{ }}
                                        <option value='{{item["departId"]}}'>{{item['departName']}}</option>
                                        {{# } }}
                                        {{#  }); }}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input id="proEmail" type="text" name="proEmail" value="{{d.params.proEmail ||''}}"
                                        autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"></div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-block">
                                    <textarea id="proRemark" name="proRemark" placeholder="请输入内容"
                                        class="layui-textarea">{{d.params.proRemark ||''}}</textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="setmyinfo">确认修改</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</script>